 html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }

body{
	margin: 0px;
}


/*media quries*/
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}

.ng-valid       { border-color: green;  }
.ng-invalid     {  border-color: red;    }
.ng-pristine    {  border-color: deepskyblue;   }
.ng-dirty       {  border-color: black;   }
.ng-touched     {  border-color: yellow;   }

/* really specific css rules applied by angular */
.ng-invalid-required        { border-color: red;   }
.ng-invalid-minlength       { border-color: red;    }
.ng-valid-max-length        { border-color: red;    }